html,
body {
   width: 50%;
   margin: 0 auto;
   font-family: Arial, Helvetica, sans-serif;
}

.container {
   width: 360px;
}

#inputField {
   width: 300px;
   height: 46px;
   border: 1px solid black;
   outline: none;
   font-size: 25px;
   vertical-align: middle;
}

#addToDo {
   width: 50px;
   height: 50px;
   border: 1px solid black;
   font-size: 30px;
   color: black;
   background-color: green;
   vertical-align: middle;
   cursor: pointer;
}

#addToDo:hover {
   background-color: rgba(72, 146, 78, 0.966);
   transition: 0.2;
}

.to-dos {
   margin-top: 25px;
}

.itemStyle {
   margin: 0;
   font-size: 20px;
   padding: 5px 0px;
}

#checkBoxId {
   width: 20px;
   height: 20px;
   cursor: pointer;
   margin-right: 5px;
}

#deletebtn {
   cursor: pointer;
   border: 1px solid black;
   font-size: 15px;
   background-color: red;
   vertical-align: middle;
}

#deletebtn:hover {
   background-color: rgb(223, 99, 99);
   transition: 0.2s;
}
